* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  
  height:100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #fec861 50%, #f1f4f7 50%);
}

#image{
  max-width:100px;
  margin-top: 4%;
 

  
}
